# === Core ML & NLP Frameworks ===
torch>=2.0.0       # PyTorch CPU 版本
torchvision
torchaudio

transformers==4.30.2
sentencepiece
protobuf
datasets
pandas
numpy
scikit-learn
tqdm

# === Optional: API or evaluation support ===
openai

# === Visualization ===
matplotlib
seaborn
umap-learn
wizmap
sentence-transformers
